.container {
  background-color: #ff7043;
  height: 100%;
  width: 100%;
}

.body {
  height: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #d76845;
  height: 8%;
}

.title {
  color: white;
  font-weight: 200;
  font-size: 3rem;
  margin: 5px 0px;
}

.subtitle {
  margin: 0px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  overflow-wrap: break-word;
  text-align: center;
}

.title_container {
  width: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
